
/* Elements Selectors */
/* Note:Added header,nav to use these elements instead of classes as much as possible.
I used variable for colors. 03/17/21 egon*/

   button
   {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px   0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
   }

  button:hover{
    background-color: #fff;
    border: 1px solid #1E88E5;
    color: #1E88E5;
  }

  header
   {
    padding: 30px;
    padding-top: 10px;
    color: hsl(206, 17%, 28%);
    font-size: 20px;
   }
   body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    background-color: lightgray;
  }

  img {
    margin: 0 auto;
  }
  
  /* Class Section */
  .prev {
    text-align: center;
    width: 100px;
    height: 30px
  }
  
  .next {
    text-align: center;
    width: 100px;
    height: 30px;
  }
  
  .wrapper {
    padding-bottom: 30px;
  }
  /* Highscror link */
   .alignleft {
	float: left;
    }

    /* timer score*/
    .alignright {
	float: right;
    }
      
  .container {
    display: block;
    margin: 50px auto;
    text-align: center;
    font-size: 30px;
    transition: 0.3s;
    width: 80vw;
    padding-top: 20px;
    background-color: whitesmoke;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    border-width: 7px;
    border-style: solid;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
  
  }
  
/* Id Section */
/* Need a pointer for my high score*/
#enterInitials
{
 width: 200px;
 height: 40px;
 font-size: 20px;
}
 #view-highscores
{
  cursor: pointer;
}

    
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}


